<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 parent">
            <div class="card card-addition">
                <div class="card-header">Ajouter Autre Admin</div>
                <div class="card-body">



                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="firstname">Prénom</label>
                            <input type="text" formControlName="firstname" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.firstname.errors }" />
                            <div *ngIf="submitted && fields.firstname.errors" class="invalid-feedback">
                                <div *ngIf="fields.firstname.errors.required">Prénom est obligatoire</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nom</label>
                            <input type="text" formControlName="lastname" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.lastname.errors }" />
                            <div *ngIf="submitted && fields.lastname.errors" class="invalid-feedback">
                                <div *ngIf="fields.lastname.errors.required">Nom est obligatoire</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cin">Carte d'identité</label>
                            <input type="text" formControlName="cin" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.cin.errors }" />
                            <div *ngIf="submitted && fields.cin.errors" class="invalid-feedback">
                                <div *ngIf="fields.cin.errors.required">Carte d'identité est obligatoire</div>
                                <div *ngIf="fields.cin.errors.minlength || fields.cin.errors.maxlength || fields.cin.errors.pattern">Carte d'identité doit être 8 nombres </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Téléphone</label>
                            <input type="text" formControlName="phoneNumber" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.phoneNumber.errors }" />
                            <div *ngIf="submitted && fields.phoneNumber.errors" class="invalid-feedback">
                                <div *ngIf="fields.phoneNumber.errors.required">Téléphone est obligatoire</div>
                                <div *ngIf="fields.phoneNumber.errors.minlength || fields.phoneNumber.errors.maxlength || fields.phoneNumber.errors.pattern">Téléphone doit être 8 nombres </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.email.errors }" />
                            <div *ngIf="submitted && fields.email.errors" class="invalid-feedback">
                                <div *ngIf="fields.email.errors.required">Email est obligatoire</div>
                                <div *ngIf="fields.email.errors.email">Email est invalide</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">mot de passe</label>
                            <input type="password" formControlName="password" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.password.errors }" />
                            <div *ngIf="submitted && fields.password.errors" class="invalid-feedback">
                                <div *ngIf="fields.password.errors.required">mot de passe est obligatoire</div>
                                <div *ngIf="fields.password.errors.minlength">mot de passe doit être au moins de 6 caractères</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" formControlName="role" (change)='onOptionsSelected(fields.role.value)'>
                                <option *ngFor="let role of values(roles)">{{role}}</option>
                            </select>
                        </div>

                        <div class="form-group" *ngIf="fields.role.value=='Enseignant'">
                            <label for="departement">Departement</label>
                            <select class="form-control" formControlName="departement">
                                <option *ngFor="let departement of values(departements)">{{departement}}</option>
                            </select>
                        </div>

                        <div class="form-group" *ngIf="fields.role.value=='Etudiant'">
                            <label for="ce">Carte d'étudiant</label>
                            <input type="text" formControlName="ce" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.ce.errors }"/>
                            <div *ngIf="submitted && fields.ce.errors" class="invalid-feedback">
                                <div *ngIf="fields.ce.errors.required">Carte d'étudiant est obligatoire</div>
                                <div *ngIf="fields.ce.errors.minlength || fields.ce.errors.maxlength || fields.ce.errors.pattern">Carte d'étudiant doit être 7 nombres </div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="fields.role.value=='Etudiant'">
                            <label for="filiere">Filiere</label>
                            <select class="form-control" formControlName="filiere">
                                <option *ngFor="let filiere of values(fillieres)">{{filiere}}</option>
                            </select>
                        </div>

                        <div class="form-group" *ngIf="fields.role.value=='Etudiant'">
                            <label for="year">Année</label>
                            <input type="text" formControlName="year" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && fields.year.errors }"/>
                            <div *ngIf="submitted && fields.year.errors" class="invalid-feedback">
                                <div *ngIf="fields.year.errors.required">année est obligatoire</div>
                                <div *ngIf="fields.year.errors.minlength || fields.year.errors.maxlength || fields.year.errors.pattern">année est invalid </div>
                            </div>
                        </div>
                    
                        <div class="text-center">
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">Enregistrer</button>
                                <img *ngIf="loading"
                                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                <a [routerLink]="['']" class="btn btn-link">Annulé</a>
                            </div>
                        </div>

                    </form>
                    <!--<p>{{ registerForm.value | json }} {{ registerForm.status | json }}-->
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
