<app-detail-etudiant [etudiant]="student"></app-detail-etudiant>
<div class="row gutters-sm">
    <div class="col-md-12">
      <div class="card mb-8">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" >
              <a class="nav-link" routerLink="/etudiant" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">PFE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/etudiant/detailSoutenance" routerLinkActive="active">Soutenance</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
