<div class="to-the-right">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input
          type="text"
          class="form-control"
          placeholder="{{ search_fields[0].label }}"
          [(ngModel)]="search_fields[0].input"
        />
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
              <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <form class="form-horizontal" role="form">
                  <div class="row">
                    <div
                      class="form-group col"
                      *ngFor="let field of search_fields"
                    >
                      <label for="contain">
                        {{ field.label }}
                        <input
                        type="checkbox"
                        [(ngModel)]="isEnabled"
                        name="check"
                        *ngIf="field.type"
                      />
                      </label>
                      <input
                        *ngIf="field.type"
                        class="form-control"
                        type="{{ field.type }}"
                        name="{{ field.label }}"
                        [(ngModel)]="field.input"
                        [disabled]="!isEnabled"
                      />

                      <input
                        *ngIf="!field.type"
                        class="form-control"
                        type="text"
                        name="{{ field.label }}"
                        [(ngModel)]="field.input"
                      />
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="btn btn-primary row"
                    (click)="search()"
                  >
                    <fa-icon [icon]="searchIcon"></fa-icon>
                  </button>
                </form>
              </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="search()">
              <fa-icon [icon]="searchIcon"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
