<div class="side-buttons"><button type="button" [routerLink]="'/admin/createPfe'" class="btn btn-dark">Nouveau PFE</button></div><app-searchbar [search_fields]="search_fields"></app-searchbar>
<div class="card-deck">
  <div
    class="card"
    *ngFor="let pfe of pfes_to_display | paginate: { itemsPerPage: 10, currentPage: page }"
    data-toggle="modal"
    data-target="#pfeModal"
    title="afficher détails"
    (click)="viewPFEDetails(pfe)"

  >
    <div class="card-content">
      <div class="card-header">
        <strong>Sujet : </strong>{{ pfe.soutenance.pfe.subject }}
      </div>
      <div class="card-body">
        <div class="media d-flex">
          <div class="media-body text-left">
            <strong>Etudiant : </strong>{{ pfe.firstname }} {{ pfe.lastname
            }}<br />
            <strong>Numéro d'inscription : </strong>{{ pfe.student_id_number }}
            <hr />
            <strong>Encadrant<span *ngIf="pfe.soutenance.encadrants.length>1">s</span> : </strong>
            <span
              *ngIf="
                pfe.soutenance.encadrants &&
                pfe.soutenance.encadrants.length > 0
              "
            >
              <span *ngFor="let encadrant of pfe.soutenance.encadrants">
                &nbsp; {{ encadrant.firstname }}
                {{ encadrant.lastname }}
                <span
                *ngIf="encadrant.cin != pfe.soutenance.encadrants[pfe.soutenance.encadrants.length-1].cin"
                >,</span>
              </span>
            </span>
            <span
              *ngIf="
                !pfe.soutenance.encadrants ||
                pfe.soutenance.encadrants.length == 0
              "
              >{{ "-" }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="pfeModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Détails PFE</h5>
        <button
          id="close-modal-button"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br />
      <!--<hr />-->
      <div class="modal-body">
        <app-view-pfe-details
          [pfe]="pfe"
          [allow_edit]="true"
          [(editEnabled)]="editEnabled"
        >
        </app-view-pfe-details>
      </div>
    </div>
  </div>
</div>
