<div class="container navbar navbar-inverse" id="sidebar-wrapper">
  <ul class="nav sidebar-nav">
    <li *ngFor="let menuItem of sidebarMenuItems" [ngClass]="{'dropdown': menuItem.children}">
      <a href="#" data-toggle="dropdown" [ngClass]="{'dropdown-toggle': menuItem.children}">
        {{ menuItem.item }}
        <span class="caret"> </span>
      </a>

        <ul
          *ngIf="menuItem.children"
          class="dropdown-menu animated fadeInLeft"
          role="menu"
        >
          <li *ngFor="let item of menuItem.children" class="dropdown-itemm">
            <a href="#">{{ item.item }} </a>
          </li>
        </ul>

    </li>
  </ul>
</div>
