<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 parent">
      <div class="card card-addition">
        <div class="card-header">Modifier une soutenance:</div>
        <div class="card-body">
          <p>Tout champ vide sera ignoré.</p>
          <form #formulaire="ngForm">
            <label for="name">Session:</label><br />
            <!-- make a select with all sessions, their id as value -->
            <ejs-dropdownlist
              ngModel
              name="session"
              id="ddlelement"
              #samples
              [dataSource]="sessions"
              [fields]="fieldsS"
              [placeholder]="textS"
            >
            </ejs-dropdownlist>
            <label for="name"
              >Encadrant: {{ encadrant.firstname }}
              {{ encadrant.lastname }}</label
            ><br />
            <!-- make a select with all teachers, their id as value -->
            <ejs-dropdownlist
              ngModel
              name="encadrant"
              id="ddlelement"
              #samples
              [dataSource]="enseignantsSansEncadrant"
              [fields]="fieldsE"
              [placeholder]="textE"
            >
              <ng-template #itemTemplate let-data>
                <div>
                  <div class="name">
                    {{ data.firstname }} {{ data.lastname }}
                  </div>
                </div>
              </ng-template>
            </ejs-dropdownlist>
            <label for="name">Jury:</label><br />
            <!-- make a select with all teachers, their id as value -->
            <ejs-multiselect
              ngModel
              name="jury"
              id="multiselectelement"
              [dataSource]="enseignants"
              [fields]="fieldsJ"
              [placeholder]="placeholderJ"
            >
              <ng-template #itemTemplate let-data>
                <div>
                  <div class="name">
                    {{ data.firstname }} {{ data.lastname }}
                  </div>
                </div>
              </ng-template>
            </ejs-multiselect>
            <label for="date">Date de la soutenance:</label><br />
            <ejs-datetimepicker id="date" name="date" ngModel  width="300px"></ejs-datetimepicker>
            <br>
            <button
              class="btn btn-primary m-1"
              [disabled]="formulaire.invalid"
              (click)="handleForm(formulaire)"
            >
              Modifier
            </button>
            <button (click)="handleAnnuler()" class="btn btn-secondary m-1">
              Annuler
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
