<div class="fill-height">
  <app-navigation></app-navigation>
  <ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar
      [(opened)]="_opened"
      mode="push"
      position="left"
      keyClose="true"
      autoFocus="false"

    >
      <app-pretty-sidebar
        [sidebarMenuItems]="sidebarMenuItems"
      ></app-pretty-sidebar>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content class="page-content">
      <span
        *ngIf="!hidden"
        (click)="toggleSidebar()"
      >
       <fa-icon [icon]="sidebarIcon" class="make-cursor-pointer"></fa-icon>
      </span>
      <alert>
      </alert>
      <router-outlet></router-outlet>
    </div>
  </ng-sidebar-container>
</div>