
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-header">
                  <h2>Details Etudiant</h2>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3 text-primary">
                      <h4 class="mb-0">CIN</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{etudiant.cin}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 text-primary">
                      <h4 class="mb-0">First Name</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{etudiant.firstname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 text-primary">
                      <h4 class="mb-0">Last Name</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{etudiant.lastname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 text-primary">
                      <h4 class="mb-0">Id Number</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{etudiant.student_id_number}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 text-primary">
                      <h4 class="mb-0">Filiere</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{etudiant.filiere}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 text-primary">
                      <h4 class="mb-0">Year</h4>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{etudiant.year}}
                    </div>
                  </div>
                  
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAccountSettings">
                  Paramèters du compte
                </button>
              </div>
          </div>
        </div>
        </div>
    </div>
    <!-- Modal HTML Markup -->
<div id="ModalAccountSettings" class="modal fade">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title">Paramèters du compte</h1>
          </div>
          <div class="modal-body">
              <form (ngSubmit)="onSubmit()" [formGroup="editAccountForm"]>
                  <input type="hidden" name="_token" value="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && fields.email.errors }" />
                    <div *ngIf="submitted && fields.email.errors" class="invalid-feedback">
                        <div *ngIf="fields.email.errors.required">Email est obligatoire</div>
                        <div *ngIf="fields.email.errors.email">Email est invalide</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">mot de passe</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && fields.password.errors }" />
                    <div *ngIf="submitted && fields.password.errors" class="invalid-feedback">
                        <div *ngIf="fields.password.errors.required">mot de passe est obligatoire</div>
                        <div *ngIf="fields.password.errors.minlength">mot de passe doit être au moins de 6 caractères</div>
                    </div>
                </div>
                  
                  <div class="form-group">
                      <div>
                          <button type="submit" class="btn btn-success">
                              Save
                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div><!-- /.modal-content -->
</div>