<br>
<br>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" id="test">
                Etudiants {{option}} {{filiere}}:
                </h3>
                <div class="text-right">

                    </div>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Carte d'identité
                            </th>
                            <th>
                                Carte d'étudiant
                            </th>
                            <th>
                                Prénom
                            </th>
                            <th>
                                Nom
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Téléphone
                            </th>
                            <th *ngIf="show_filieres">
                                Filiere
                            </th>
                            <th>
                                Année
                            </th>
                            <th>
                                Edit
                            </th>
                            <th class="text-right">
                                Delete
                            </th>
                        </thead>
                        <tbody>


                            <tr *ngFor="let etudiant of etudiants_to_display">
                                <td>
                                    {{etudiant.cin}}
                                 </td>
                                 <td>
                                    {{etudiant.id_number}}
                                 </td>
                                <td>
                                    {{etudiant.firstname}}
                                </td>
                                <td>
                                    {{etudiant.lastname}}
                                </td>
                                <td>
                                   {{etudiant.email}}
                                </td>
                                <td>
                                    {{etudiant.phoneNumber}}
                                 </td>
                                 <td *ngIf="show_filieres" >
                                    {{etudiant.filiere}}
                                 </td>
                                 <td>
                                    {{etudiant.year}}
                                 </td>

                                <td>
                                <!--[(role)]="user.Role"-->
                            <app-modal-edit  [(cin)]="etudiant.cin" [(role)]="role"></app-modal-edit>

                                </td>
                                <td class="text-right">
                                    <button (click)="deleteUser(etudiant.cin)" class="btn btn-danger ">
                                        <svg class="bi bi-x-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                clip-rule="evenodd" />
                                            <path fill-rule="evenodd"
                                                d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                                clip-rule="evenodd" />
                                            <path fill-rule="evenodd"
                                                d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                                clip-rule="evenodd" />
                                        </svg>

                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
