
  <div class="row gutters-sm">
      <div class="col-md-10">
        <div class="card mb-5">
          <div class="card-header">
            <h2>Details Soutenance</h2>
          </div>
          <div *ngIf="noSoutenance" class="card-body">Pfe n'a pas encore été affecté a une session </div>
          <div class="card-body" *ngIf="soutenance">
            <div class="row" >
              <div class="col-sm-5 text-primary">
                <h4 class="mb-0">Date</h4>
              </div>
              <div class="col-sm-7 text-secondary">
                  {{soutenance.date}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5 text-primary">
                <h4 class="mb-0">session</h4>
              </div>
              <div class="col-sm-7 text-secondary">
                {{session.nom}} 
              </div>
          </div>
          <hr>
            <div class="row">
              <div class="col-sm-5 text-primary">
                <h4 class="mb-0">President de session</h4>
              </div>
              <div class="col-sm-7 text-secondary" *ngIf="president">
                {{president.firstname}} {{president.lastname}}
              </div>
          </div>
          <hr>
            <div class="row">
              <div class="col-sm-5 text-primary">
                <h4 class="mb-0">Membre du jury</h4>
              </div>
              <div class="col-sm-7 text-secondary">
                <ul *ngIf="jury">
                  <li *ngFor=" let enseignant of jury">
                    {{enseignant.lastname}} {{enseignant.firstname}}
                  </li>
                </ul> 
              </div>
          </div>
