.card{
  min-width: 30%;
  max-width: 30%;
  margin-bottom: 30px;
  cursor: pointer;
}
.accordion{
  margin-left: 0px;
  margin-right: 0px;
}
hr{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.fix-padding{
  padding-left: 20px;
  padding-right: 20px;
}
.accordion-card{
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  border-radius: 0%;
}
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}
